<h1>C'est ici !</h1>


<%= simple_form_for @deposition do |f| %>
  <%= render "#{@deposition.current_step}_step", f: f %>
  <%= f.button :submit, "Suivant", name: "next_button" unless @deposition.last_step? %>
  <%= f.button :submit, "Retour", name: "back_button" unless @deposition.first_step? %>
  <%= f.button :submit, "Découvrir mon indemnité" if @deposition.last_step? %>
<% end %>
